In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Step 1: Target URL
url = "https://quotes.toscrape.com/"

# Step 2: Send GET request to fetch HTML
response = requests.get(url)
print("Status Code:", response.status_code)  # 200 means success

# Step 3: Parse HTML with BeautifulSoup
soup = BeautifulSoup(response.text, "lxml")

# Step 4: Extract all quotes and authors
quotes_data = []
quotes = soup.find_all("div", class_="quote")

for quote in quotes:
    text = quote.find("span", class_="text").get_text(strip=True)
    author = quote.find("small", class_="author").get_text(strip=True)
    quotes_data.append({"Quote": text, "Author": author})

# Step 5: Save to CSV
df = pd.DataFrame(quotes_data)
df.to_csv("quotes.csv", index=False, encoding="utf-8")

print("Scraping Completed! Quotes saved to quotes.csv")

Status Code: 200
Scraping Completed! Quotes saved to quotes.csv

In [2]:
df

                                               Quote             Author
0  “The world as we have created it is a process ...    Albert Einstein
1  “It is our choices, Harry, that show what we t...       J.K. Rowling
2  “There are only two ways to live your life. On...    Albert Einstein
3  “The person, be it gentleman or lady, who has ...        Jane Austen
4  “Imperfection is beauty, madness is genius and...     Marilyn Monroe
5  “Try not to become a man of success. Rather be...    Albert Einstein
6  “It is better to be hated for what you are tha...         André Gide
7  “I have not failed. I've just found 10,000 way...   Thomas A. Edison
8  “A woman is like a tea bag; you never know how...  Eleanor Roosevelt
9  “A day without sunshine is like, you know, nig...       Steve Martin

In [3]:
df.columns

Index(['Quote', 'Author'], dtype='object')

In [4]:
df.head()

                                               Quote           Author
0  “The world as we have created it is a process ...  Albert Einstein
1  “It is our choices, Harry, that show what we t...     J.K. Rowling
2  “There are only two ways to live your life. On...  Albert Einstein
3  “The person, be it gentleman or lady, who has ...      Jane Austen
4  “Imperfection is beauty, madness is genius and...   Marilyn Monroe